@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal: #fff;
    --cor-secundario: #707070;
    --botao-azul: #167bf7;
    --background-color: #00030c;
    --fonte-principal: "inter";
}

body {
    background-color: var(--background-color);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;


}

.container__titulo {
    font-size: 28px;
    font-weight: 700;

}

.container__botao__primario {
    background-color: var(--botao-azul);
    border-radius: 10px;
    padding: 1em;
    color: var(--cor-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}

.container__botao__secundario {
    background-color: transparent;
    border: 2px solid var(--cor-principal);
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-principal);
    display: block;
    padding: 1rem;
}

.container__aviso {
    font-size: 1rem;
    color: var(--cor-principal)
}

.container__igm__combo {
    margin: 1rem 0 2rem 0;
}

.container__caixa__principal {
    margin: 0 6em;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-size: 2.4em;
}

.container__img__secundaria {
    width: 80%;
}

.container__descricao {
    padding: 2em;

}

.secundario__botao {
    background-color: var(--botao-azul);
    border-radius: 10px;
    padding: 1rem;
    color: var(--cor-principal);
    display: inline-block;
    text-decoration: none;
    margin-top: 1rem;

}

.descricao__titulo__dispositivos {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--cor-principal);
}

.container__lista_dispositivos {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 5em 0;
}
.container__descricao__dispositivos{
    font-size: 2rem; 
    font-weight: 700;  
    color: var(--cor-principal);
}
.rodape{
    font-size: 0.8rem;
    color: var(--cor-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5em;
    margin: 5em 0 3em 0;    
}
.rodape__img__logo{
    max-width: 100px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.rodape a{
    text-decoration: none;
    color: var(--cor-principal);
}
.rodape__lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    list-style: none;
    margin-bottom: 10px;
}
.rodape__texto{
    display: flex;
    justify-content: center;
    margin: 10px;

}

